<div class="container">
    <div class="text-center">
        <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-8a98392e8674eb71887ee57b861dd1c0-Burger.png" alt="burger image"
            id="burgerimg">
    </div>

    <h1 class="text-center">BURGER DEVOURER</h1>
    <div class="row">
        <div class="col-md-5 burger-box text-center" id="not-devoured">
            <h2>Burgers to Devour</h2>
            <!-- Pass in data from server.js -->
            <ul class="list-group text-center">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">
                    <span class="label" id={{this.id}}> {{this.id}}, {{this.burger_name}} </span>
                    <button type="button" data-id={{this.id}} class="devourbtn">DEVOUR!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <!-- mid column in case something to add -->
        <div class="col-md-2" id="blank">
        </div>

        <!-- Right list: Burgers devoured -->
        <div class="col-md-5 burger-box text-center" id="devoured">
            <h2>Burgers Devoured</h2>
            <ul class="list-group">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">
                    <span class="label" id={{this.id}}> {{this.id}}, {{this.burger_name}} </span>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <hr>

    <form class="create-form text-center">
        <h3>Add a Burger!</h3>
        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="newBurger" name="name">
            <button class="btn btn-primary" type="submit">Add Burger</button>
        </div>

    </form>
</div>